body{
	background-color: #ADD8E6;
}

h1{
	text-align:center;
	margin-top:50px;
}

.box{
	width:600px;
	min-height:300px;
	margin:auto;
	background-color: #F5F5F5;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top: 50px;
	font-size:30px;
}