
.estrelas input[type=radio]{
	display: none;
}

/* Alterar a estrela cinza para a amarela */
.estrelas label i.fa:before{
	content: '\f005'; /* Gerar um novo conteúdo para o elemento */
	color: #FC0; /* Cor Amarela */
}

/* Aplicar o cheked ao próximo elemento */
.estrelas input[type=radio]:checked ~ label i.fa:before{
	color: #CCC; /* Cor Cinza */
}